body {
    font-family: Helvetica;
    padding: 20px 40px 40px 40px;
    height: 100%;
    background-color: #8e44ad;
}

.header {
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    margin: 20px;
    /* Assurez-vous que le fond est transparent */
    background-color: transparent;
}
.containerImage {
   margin: 40px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.containerImage img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.5s;
}
.containerImage img:hover {
    width: 25%;
}
.container {
    display: flex;
    align-items: flex-start;
    background-color: #a3aaac; /* Couleur de fond pour le conteneur */
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}

.container img {
    margin-left: 30px;
    border-radius: 20px;
}

.text-container {
    max-width: 250px;
    margin: 40px 20px 20px 30px;
    color: white;
}

.container-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    background-color: #a3aaac; /* Couleur de fond pour le conteneur inverse */
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}

.container-reverse img {
    margin-right: 30px;
    border-radius: 10px;
}

.image {
    width: 100%;
    object-fit: cover;
}

.bouton {
    border-radius: 15px 0px 15px 0px;
    background-color: #1C212E;
    color: white;
}
