body {
    font-family: Helvetica;
    padding: 10px 40px 40px 40px;
    height: 100%;
    background-color: #8e44ad;
}

#dogCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 30px 0px 30px 0px;
    width: calc(33% - 40px);
    background-color: #fff;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.descript-dest{
    font-size: 18px;
    color: #212429;
    margin: 15px 0;
}

h5 {
    text-align: center;
    background-color: #e9ecef;
    padding: 12px 20px;
    cursor: pointer;
}
.bouton{
    border-radius: 15px 0px 15px 0px ;
    background-color: #1C212E;
    color:white;
}